<h1>Editing Post</h1>
<%=form_for(@post) do|p| %><table>
<tr><td><%=p.label :content %></td>
<td><%=p.text_field :content %></td>
</tr><tr>
<td><%=p.label :user_id %></td>
<td><%=p.number_field :user_id %></td>
</tr></table>
<%=p.submit "Update User" %>
<%end%>
<br>
<%= link_to 'Back',microposts_path %>
<%= link_to 'Show',micropost_path(@post) %>
