<h1>New Post</h1>
<%=form_for (@post) do|p| %>
<%=p.label :content,"Content" %>
<%=p.text_field :content %>
<br>
<%=p.label :user_id,"User" %>
<%=p.text_field :user_id %>
<br>
<%=p.submit "Create User" %>
<%end%><br>
<br><br>
<%= link_to 'Back',microposts_path %>

